
body {
  font-family: arial, sans-serif;
  background: url(sp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#logo {
  font-family: comfortaa, sans-serif;
  font-size: 160px; /*250*/
  color: red;
  opacity: 0.8;
  filter:alpha (opacity=80);
  align-items: center;
}
#unicamp {
  font-family: comfortaa, sans-serif;
  font-size: 70px;
  opacity: 0.9;
  filter:alpha (opacity=90);
  color: black;
  margin-bottom: 80px;
  margin-right: 75px;
}
#atualizacao {
  font-family: cursive;
  color: white;
}
#nome {
  font: comfortaa;
  font-size: 30px;
  color: yellow;
  margin-bottom: 30px;
  margin-right: 480px;
}
#nav {
  /*width: 100%;
  height: 610px;
  background: url(bac.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  */
}
#nav_wrapper {
  width: 840px; /*era 850px*/
  height: 105px; /*era 150px*/
  background: #377D7A;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px; /*era 30px*/
  opacity: 0.7;
  filter:alpha (opacity=70);
}
#nav_wrapper ul li {
  list-style: none;
  display: inline;
  font-weight: bold;
  padding: 12.63px; /*12.63*/
  font-size: 35px; /*40*/
}
#nav_wrapper a {
  color: white;
  text-decoration: none;
  padding: 10px;
}
#nav_wrapper ul li:hover {
  background: red;
  transition: all 0.45s;
  opacity: 0.85;
  filter:alpha (opacity=85);
}
